* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ffffe0;
  font-family: Verdana;
  width: 100%;
}



.top_page {
  text-align: center;
  height: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 50px;
  color: red;
}

h3 {
  font-size: 30px;
  color: orange;
}

h4 {
  text-align: right;
}

a.menu_link {
  text-decoration: none;
  color: #990e00 !important;
}

.menu {
  padding: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  border-collapse: collapse;
}

.menu td {
  width: 14%;
  height: 80px;
  padding: 5px;
  font-size: 16px;
  color: #990e00;
}

.menu td.active{
  background-color: #FFF5C4; 
  font-weight: bold; 
  font-size: 16px; 
  pointer-events: none;
  cursor: default;
}

.content {
  background: #fff5c4;
  padding: 20px;
  align-items: center;
  line-height: normal;
  font-size: 16px;
}

.bottom_page {
  text-align: center;
  align-items: center;
  height: 50px;
  font-size: 14px;
  padding: 20px;
}

.button {
  float: right;
  padding: 0;
}
